<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">Where To Eat</a>
        </div>

        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Index", "Home")">首页</a></li>
                <li><a href="@Url.Action("Canteen", "Order")">点餐</a></li>
                <li><a href="#">工作</a></li>
                <li><a href="@Url.Action("Contact", "Home")">联系我们</a></li>


                <li>
                    <form action="#" class="navbar-form clearfix">
                        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <div class="form-group col-xs-6" style="padding-left: 2px; padding-right: 2px">
                                <a href="/Auth/Login" id="nav-left" role="button" class="btn btn-default btn-block">登 录</a>
                            </div>
                            <div class="form-group col-xs-6" style="padding-left: 2px; padding-right: 2px">
                                <a href="/Auth/SignUp" id="nav-right" role="button" class="btn btn-success btn-block">注 册</a>
                            </div>
                        }
                        else
                        {
                            var db = new MealTimeOnline.DataAccessLayer.MtoDataContext();
                            var id = int.Parse(HttpContext.Current.User.Identity.Name);
                            var curUser = db.Users.Single(c => c.Id == id);
                            <div class="member">
                                <div class="cycle-icon">
                                    <a id="cycle-icon" href="@Url.Action("Index", "Account")" data-username="@curUser.Username"></a>
                                </div>
                                <div class="menu">
                                    <div class="info">
                                        <div class="user-name">
                                            <h6>@curUser.Username</h6>
                                        </div>
                                    </div>
                                    <div class="member-exit">
                                        <a href="@Url.Action("Logout", "Auth")">退出</a>
                                        <a href="@Url.Action("Index", "Account")">个人中心</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>