@model IEnumerable<MealTimeOnline.Models.Consumer.Payment>

@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover table-bordered" id="bs-admin-payment">
    <thead>
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    
    @{ int cnt = 0; }
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++cnt)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.PaymentId}) |
                    @Html.ActionLink("Details", "Details", new {id = item.PaymentId}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.PaymentId})
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
    @Styles.Render("~/Content/DataTables")
}

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    <script>
        $('#bs-admin-payment').dataTable({
            "columns": [
                { "data": "ID" },
                { "data": "Name" },
                { "orderable": false }
            ]
        });
    </script>
}
